.content ul {
  list-style-type: none;
}

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.content li {
  margin-top: 0;
  text-decoration: none;
}

.content .taglist-blog li {
  padding: 0 1rem 0 0;
}

.content .taglist-blog {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.content .taglist li {
  padding: 0 1.5rem 1rem 0;
  margin-bottom: 1.5rem;
}

.content a {
  cursor: pointer;
  box-shadow: none;
  text-decoration: none !important;
}


